<div class="jumbotron">
  <div>
      {{#link-to 'index'}}<span class="btn btn-default">Home</span>{{/link-to}}
      {{#link-to 'about'}}<span class="btn btn-default">About</span>{{/link-to}}
      {{#link-to 'contact'}}<span class="btn btn-default">Contact</span>{{/link-to}}
      {{#link-to 'admin'}}<span class="btn btn-default">Admin</span>{{/link-to}}
  </div>
<h1>Answer n Ask</h1>
</div>
<hr>
