<div class="jumbotron">
  <div>
    <span class="btn btn-default">{{#link-to 'index'}}Home{{/link-to}}</span>
      <span class="btn btn-default">{{#link-to 'about'}}About{{/link-to}}</span>
      <span class="btn btn-default">{{#link-to 'contact'}}Contact{{/link-to}}</span>
      <span class="btn btn-default">{{#link-to 'admin'}}Admin{{/link-to}}</span>
  </div>
<h1>Answer n Ask</h1>
</div>
<hr>
