<div class="jumbotron">
  <div>
      <span class="btn btn-default">{{#link-to 'about'}}About{{/link-to}}</span>
      <span class="btn btn-default">{{#link-to 'contact'}}Contact{{/link-to}}</span>
      <span class="btn btn-default">{{#link-to 'admin'}}Admin{{/link-to}}</span>
      <p>{{#link-to 'index'}}<img id="logoImg" src="https://media.giphy.com/media/SufoKsersIO2Y/giphy.gif">{{/link-to}}</p>
  </div>
<h1>Answer n Ask</h1>
</div>
<hr>
